body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.564);
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgba(255, 255, 255, 0.564);
    color: #000;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

h1{
    text-align: center;
    margin-top: 50px;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #007BFF;
    color: #fff;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
  }

